// Content
.content {
  margin: auto;
  max-width: $w;
  padding: 2rem;
}

// Sidebar
.sidebar {
  float: left;
  overflow-y: auto;
  position: sticky;
  top: 2rem;
  width: 12rem;

  h6 {
    font-weight: 500;
  }
}

// Main column
.main {
  margin-left: 14rem;
}
