// Colors
$black: #000;
$white: #fff;
$darker: #2e2e2e;
$dark: #4e4e4e;
$medium: #9e9e9e;
$light: #e4e4e4;
$lighter: #f7f7f7;
$primary: #bd4d3a;
$secondary: #dfb453;
$info: #6b5d8a;

// Typography
$s: 16px;

// Style
$r: 3px;
$t: .3s;
