// Hero
.hero {
  background: $lighter;
  padding: 1rem 0;
  text-align: center;

  img {
    display: block;
    margin: auto;
    width: 13rem;
  }

  h1 {
    font-size: 2rem;
    margin-top: -.15em;
    text-transform: uppercase;
  }

  .lead {
    color: $darker;
    margin-bottom: 2rem;
  }

  @include mq-up($screen-sm) {
    padding: 2rem 0;

    img {
      width: 20rem;
    }

    h1 {
      font-size: 3rem;
    }
  }

  @include mq-up($screen-md) {
    padding: 4rem 0;

    img {
      width: 40rem;
    }

    h1 {
      font-size: 6rem;
    }
  }
}
