// Hero
.hero {
  background: $lighter;
  padding: 4rem 0;
  text-align: center;

  img {
    display: block;
    margin: auto;
    max-width: 40rem;
  }

  h1 {
    font-size: 6rem;
    margin-top: -1.5rem;
    text-transform: uppercase;
  }

  .lead {
    color: $darker;
    margin-bottom: 2rem;
  }
}
