// Menu
.menu {
  display: flex;
  margin: 0;
  padding: 0;

  .menu-item {
    + .menu-item {
      margin-left: 1.5rem;
    }
  }
}

// Vertical menu
.menu-vertical {
  margin: 0;
  padding: 0;

  .menu-item {
    margin-bottom: .5rem;

    &.current > a {
      font-weight: 700;
    }
  }
}

// Menu items
.menu-item {
  list-style: none;
  margin: 0;

  &.current > a {
    border-bottom: 1px solid $secondary;
  }
}

// Jump nav
.jump-nav {
  padding: 0 0 0 .5rem;

  > li {
    font-size: .9rem;
    list-style: none;

    > a {
      color: $darker;
    }
  }
}
