// Navbar
.navbar {
  background: $darker;
  color: $white;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 100;
}

// Brand
.brand {
  display: block;
  padding: 1rem;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 0;
  }
}
