// Navbar
.navbar {
  background: $darker;
  color: $white;
}

.navbar-content {
  margin: auto;
  max-width: $w;
  padding: 1rem;
  text-align: center;

  @include mq-up($screen-sm) {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    padding: 0 2rem;
    text-align: left;
  }
}

// Brand
.brand {
  display: block;
  margin: 0 auto 1rem;
  width: 2rem;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 0;
  }

  img {
    display: block;
  }

  @include mq-up($screen-sm) {
    margin: 0;
  }
}

// Interact
.interact {
  margin-top: 1rem;

  i {
    font-size: 1.5rem;
  }

  @include mq-up($screen-sm) {
    margin-top: 0;
  }
}
