// Navbar
.navbar {
  background: $darker;
  color: $white;
}

.navbar-content {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  margin: auto;
  max-width: $w;
  padding: 0 2rem;
}

// Brand
.brand {
  display: block;
  width: 2rem;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 0;
  }

  img {
    display: block;
  }
}

// Interact
.interact {
  i {
    font-size: 1.5rem;
  }
}
