// Box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Document
body {
  background: $white;
  color: $dark;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: $s;
  line-height: 1.4;
  margin: 0;
}

// Hyperlinks
a {
  color: $primary;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 1px solid $secondary;
  }
}

// Emphasis
strong {
  color: $darker;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $darker;
  font-weight: 300;
  line-height: 1.1;
  margin: 0 0 .25rem;

  strong {
    font-weight: 500;
  }

  code {
    background-color: transparent;
    color: inherit;
    font-weight: 700;
    letter-spacing: -.05em;
    padding: 0;
  }

  p + &,
  ul + &,
  ol + &,
  dl + &,
  pre + &,
  figure + & {
    margin-top: 2em;
  }
}

h1 {
  font-family: 'Ultra', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;

  @include mq-up($screen-sm) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;

  @include mq-up($screen-sm) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 500;

  p + &,
  ul + &,
  ol + &,
  dl + &,
  pre + &,
  figure + & {
    margin-top: 1em;
  }
}

h5 {
  color: $medium;
  font-size: 1rem;
}

h6 {
  border-bottom: 1px solid $light;
  font-size: 1rem;
  margin-bottom: .5rem;
}

// Paragraphs
p {
  margin: 0 0 1rem;
}

.lead {
  color: $primary;
  font-size: 1.25rem;
  font-weight: 300;

  strong {
    color: $primary;
    font-weight: 500;
  }

  h1 + & {
    margin-top: -2rem;
  }
}

// Lists
ul {
  margin: 0 0 1rem;
  padding: 0 0 0 1.5rem;

  li {
    list-style-type: square;
    margin-bottom: .25rem;
  }
}

ol {
  margin: 0 0 2rem;
  padding: 0 0 0 2rem;

  li {
    margin-bottom: .25rem;
  }
}

dl {
  margin: 0 0 1rem;

  @include mq-up($screen-md) {
    dt {
      float: left;
      width: 8rem;
    }

    dd {
      margin-bottom: 1rem;
      margin-left: 9.5rem;

      &::after {
        clear: both;
        content: '';
      }
    }

    &.wide-params {
      dt {
        width: 12rem;
      }

      dd {
        margin-left: 13.5rem;
      }
    }
  }
}

dt {
  word-wrap: break-word;
}

dd {
  margin: 0 0 1rem;

  @include mq-up($screen-md) {
    margin-bottom: 0;
  }
}

// Muted
.muted {
  color: $medium;
}

// Rules
hr {
  border: 0;
  border-top: 1px solid $light;
  height: 0;
  margin: 2rem 0;

  h1 + & {
    margin-top: -1.5rem;
  }
}
