<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Engineer – {{ page.title }}</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="{{ site.baseurl }}{% link css/app.scss %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ultra">
  <link rel="stylesheet" href="https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5789165-14"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-5789165-14');
  </script>
</head>
<body>

<nav class="navbar inverse">
  <div class="navbar-content">
    <a class="brand" href="{{ site.baseurl }}{% link index.html %}">
      <img src="{{ site.baseurl }}{% link /img/wheel.svg %}" alt="Engineer">
    </a>
    {% include menu.html %}
    {% include interact.html %}
  </div>
</nav>
