{% include header.html %}

<main class="content with-sidebar">

  <aside class="sidebar">
    <h6>Get Started</h6>
    <ul class="menu-vertical">
      <li class="menu-item"><a href="#what-is-engineer">What is Engineer?</a></li>
      <li class="menu-item"><a href="#installation">Installation</a></li>
      <li class="menu-item"><a href="#migrations">Migrations</a></li>
      <li class="menu-item"><a href="#multiple-environments">Multiple Environments</a></li>
      <li class="menu-item"><a href="#next-steps">Next Steps</a></li>
    </ul>
  </aside>

  <article class="main">
    {{ content }}
  </article>

</main>

{% include footer.html %}
